<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="Sage_x3v6Entities" connectionString="metadata=res://*/Sage_x3v6.csdl|res://*/Sage_x3v6.ssdl|res://*/Sage_x3v6.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.7\x3v6;initial catalog=x3v6;persist security info=True;user id=etl_admin;password=d0ntl00k;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="local_x3v6Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=192.168.1.7\x3v6;initial catalog=&quot;Shipping Manager&quot;;persist security info=True;user id=etl_admin;password=d0ntl00k;MultipleActiveResultSets=True;App=EntityFramework'"
      providerName="System.Data.EntityClient" />
    <add name="PackingNet.Properties.Settings.Shipping_ManagerConnectionString"
      connectionString="Data Source=192.168.1.7\x3v6;Initial Catalog=&quot;Shipping Manager&quot;;User ID=etl_admin;Password=d0ntl00k"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>